{% extends 'base.html' %}
{% block head %}
<title>Automatyka - index</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/index.css')}}">
{% endblock %}

{% block main %}

<header>
    <h1><a href="{{url_for('index')}}">DRONE ALTITUDE CONTROL</a></h1>
</header>
<div id="content">

<div id="data" class="panel">
    {% if plot_name %}
    <h2>Variables</h2>
    <ul>
        <li>
            Target level:
            <ol>
                {% for time, alt in target_altitudes %}
                    <li><b>{{time}}[s]</b>-<b>{{alt}}[m]</b></li>
                {% endfor %}
            </ol>
        </li>
        <li>Simulation time: <b>{{simulation_time}}[s]</b> </li>
        <li>Signal amplification = <b>{{signal_amplification}}</b></li>
        <li>Integral time = <b>{{doubling_time}}[s]</b></li>
        <li>Derivative time = <b>{{lead_time}}[s]</b></li>
    </ul>
    {% endif %}
    <h2>Constant values</h2>
    <ul>
        <li>Gravity= <b>10[m/s^2]</b></li>
        <li>Drone mass = <b>1[kg]</b></li>
        <li>Sampling period = <b>0.1[s]</b></li>
        <li>Max engine force = <b>40[N]</b></li>
        <li>Control singal max = <b>100</b></li>
    </ul>
</div>
<div id="drone-simulation" class="panel">

    <label for="data-simulation-time">Simulation time[s]</label>
    <input type="range" name="simulation-time" id="data-simulation-time" min="10" max="120" step="10" value="30"><output></output><br>

    <label for="data-sginal-amplification">Signal amplification</label>
    <input type="range" name="signal-amplification" id="data-sginal-amplification" min="1" max="30" step="1" value="10"><output></output><br>

    <label for="data-doubling-time">Integral time[s]</label>
    <input type="range" name="doubling-time" id="data-doubling-time" min="0.5" max="20" step="0.5" value="10"><output></output><br>

    <label for="data-lead-time">Derivative time[s]</label>
    <input type="range" name="lead-time" id="data-lead-time" min="0.5" max="5" step="0.5" value="1"><output></output><br><br>
    <b>Target altitudes</b><br>
    <ul id="altitudes" style="list-style: none; padding: 0; margin-bottom: 0;">
        <li><input class="time" type="text" value="0"><input class="altitude" type="text" value="10"></li>
        <li><input class="time" type="text" placeholder="time"><input class="altitude" type="text" placeholder="altitude"></li>
        
    </ul>
    <button id="add-altitude" style="margin-bottom: 20px;">➕</button>    

    <br>
    <button id="simulate">Simulate</button>
</div>

{% if plot_name %}
<div id="plot" class="panel">
    <img src="{{url_for('show_plot', filename=plot_name)}}">
</div>

<div id="quality" class="panel">
    <h2>Quality indicators</h2>
    <ul>
<!--        <li>Final error: <b>{{quality_indicators["final_error"]}}[m]</b></li>-->
<!--        <li>Overshoot: <b>{{quality_indicators["overshoot"]}}[%]</b></li>-->
<!--        <li>Regulation time: <b>{{quality_indicators["regulation_time"]}}[s]</b> </li>-->
        <li>Integral Regulation Accuracy Indicator (I|e|): <b>{{quality_indicators["Ie"]}}</b></li>
        <li>Integral Regulation Accuracy Indicator (Ie^2): <b>{{quality_indicators["Ie2"]}}</b></li>
        <li>Integral regulatory cost indicator (I|u|): <b>{{quality_indicators["Iu"]}}</b></li>
        <li>Integral regulatory cost indicator (Iu^2): <b>{{quality_indicators["Iu2"]}}</b></li>
    </ul>
</div>
{% endif %}

<script src="{{url_for('static', filename='javascript/main.js')}}"></script>

</div>
{% endblock %}
